--accent-color: {color7};
--border-color: {color3};
--background-1: {color6};
--background-2: {color2};
--background-mentioned: {color3} !important;
--background-mentioned-hover: {color3} !important;
--background-modifier-hover: {color6} !important;
--background-modifier-active: {color3} !important;
--text-normal: {color1} !important;
--text-positive: {color2} !important;
--text-muted: {color3} !important;
--text-link: {color4} !important;
--button-background: {color5} !important;
--button-background-hover: {color0} !important;
--button-background-active: {color0} !important;
--button-accent-hover: {color0} !important;
--button-accent-active: {color5} !important;
--button-destructive: {color5} !important;
--button-destructive-hover: {color4} !important;
--button-destructive-active: {color4} !important;
--settings-icon-color: {color0} !important;
--tab-selected: {color2} !important;
--switch: {color1} !important;
