--accent-color: #974E40;
--border-color: #AE4F58;
--background-1: #A1625C;
--background-2: #E05B5B;
--background-mentioned: #AE4F58 !important;
--background-mentioned-hover: #AE4F58 !important;
--background-modifier-hover: #AE4F58 !important;
--background-modifier-active: #AE4F58 !important;
--text-normal: #d8c7c1 !important;
--text-positive: #d8c7c1 !important;
--text-muted: #d8c7c1 !important;
--text-link: #d8c7c1 !important;
--button-background: #0A0C12 !important;
--button-background-hover: #0A0C12 !important;
--button-background-active: #0A0C12 !important;
--button-accent-hover: #0A0C12 !important;
--button-accent-active: #E05B5B !important;
--button-destructive: #E05B5B !important;
--button-destructive-hover: #A1625C !important;
--button-destructive-active: #A1625C !important;
--settings-icon-color: #0A0C12 !important;
--tab-selected: #8E4657 !important;
--switch: #974E40 !important;
